.part2 {
    @include main_container;   
    
    @include desktop {
        border-radius:2em 2em 0 0;}
      
}

.localisation {
    background-color: $color-container-secondary;
    display:flex;
    box-sizing:border-box;
    width:100%;
    justify-content: center;
    gap:1em;
    height:3em;
    align-items: center;
    font-weight: bold;
    @include desktop {
    border-radius:2em 2em 0 0;}
    
}

.accueil_decouverte {
    margin-top:1.5em;
    margin-bottom: 1.5em;
    display:flex;
    flex-direction: column;
    align-items:center;   
      
}
.alignement {
    margin-top:6em;
    margin-left:1.5em;
    @include desktop {
        display: flex;
       flex-direction: column;
      
    }
    h3 {
    
        font-size:1.4em;
        @include desktop {
            display: flex;
            justify-content: center;
            align-self:center;
    box-sizing: border-box;
    width:90%;
     height:1.5em;
     border-radius:2em;
     color:white;
    margin-bottom:3em;
    box-shadow: 0em 0em 1em 0.5em;
    @include color-secondary-gradiant;
        }
       
    }
}

.container_fonctionnement {
  
   
    margin-right:0.5em; 
   
   
    ul {    
    display: flex;
    flex-direction: column;
    padding-left:1em;
    padding-right:0.5em;
    align-content: center;
   
   
}
        li {
    box-sizing: border-box;
    width:100%;
    display: flex;    
    gap:2em;
    align-items:center;   
    
}
}

span.position {
    border-radius:100%;
    background-color:$color-primary;
    height:2em;
    width:2em;
    display:flex;
    align-items:center;
   justify-content: center;
    margin-left:-0.9em;  
}

/***page d'accueil liste des restaurant***/

.container_restaurant {
    @include desktop {
        border-radius:2em 2em 0 0;}
    perspective:1000px;
    box-sizing:border-box;
    width:100%;
    height:500px;
    display: flex;
    flex-direction: column;
   align-items: center;    
    @include mobile {        
        height:100%;
        perspective:0px;
        background: $color-container-primary;
    }
    margin-top:3em;
    padding-bottom: 3em;
    margin-bottom:4em;
    
}

.restaurant_wrapper {
    transform-style: preserve-3d;
    box-sizing: border-box;     
    width:95%;
    height:1000px;
    @include mobile {
        height:100%;
    }
   
    animation:swirl 10s infinite ease-in paused ;    
    transform-origin: center 9.5em ;        
    display: flex;
    justify-content: space-around;
    flex-direction:column;    
    align-items: center; 
    &:hover {
        animation-play-state: running;
    } 
         

    @include mobile {
        animation:none;
        gap:2em;
        
    }
    
}

.box_resto {
    &_1 {
        @include box_resto;
        transform: rotateX(0deg) translateZ(7.5em) ;
      
    }
    &_2 {
        @include box_resto;
        transform: rotateX(90deg) translateZ(7.5em);
        
    }
        
    &_3 {
        @include box_resto;
        transform: rotateX(180deg) translateZ(7.5em);        
       
    }
    &_4 {
        @include box_resto;
        transform: rotateX(270deg) translateZ(7.5em);
        
    }
}



.box_resto {
        

    &_nom_lieu_heart {
        display:flex;
        justify-content: space-between;
        height:4em;
    }
    &_nom_lieu {
        display: flex;
        flex-direction: column;
        padding-left:0.5em;
        margin-top: 0.5em;
        gap:0.2em;
    }

    &_nom {
        font-weight: bold;        
    }
    &_heart {
        padding-right:1em;
        align-self:center;
        font-size:1.5em;
        @include color-secondary-gradiant;
        background-clip:text;
        -webkit-text-fill-color: transparent;     
    
    }
}
        img {
             box-sizing:border-box;
             width:100%;
             height:11em;
             object-fit: cover;
            overflow: hidden;
             border-radius:1.25em 1.25em 0 0;
     }
    

#checked {
    display:none;
    
}
#unchecked {
    &:active {
        display:none;
    }
    &:active + #checked{
        display: block;
    }
    
}

/*page des restaurants menus*/

.menu {
    padding-left:0.6em;    
    box-sizing:border-box;
    transform:translateX(15%);
    width:80%;  
    height:auto;
   padding-bottom:2em;
    margin-top:-5em;
    position:relative;
    z-index:2;    
    border-radius:2em 2em 0 0;   
    background:$color-container-primary;
    
     
}

.entrée {
    
    &_1 {   
    @include container_menu;      
    animation: fadeinmenu 1s forwards;
    }
    &_2{   
        @include container_menu;     
        animation: fadeinmenu 1s 1s forwards; 
            
        }
    &_3{   
        @include container_menu;      
        animation: fadeinmenu 1s 2s forwards; 
        }
    &_4 {
        @include container_menu;   
        animation: fadeinmenu 1s 3s forwards; 
    }
    }


.plat {
    &_1 {   
        @include container_menu;      
        animation: fadeinmenu 1s forwards;
        }
        &_2{   
            @include container_menu;     
            animation: fadeinmenu 1s 1s forwards; 
                
            }
        &_3{   
            @include container_menu;      
            animation: fadeinmenu 1s 2s forwards; 
            }
        &_4 {
            @include container_menu;   
            animation: fadeinmenu 1s 3s forwards; 
        }
        }
    
.dessert {
    &_1 {   
        @include container_menu;      
        animation: fadeinmenu 1s forwards;
        }
        &_2{   
            @include container_menu;     
            animation: fadeinmenu 1s 1s forwards; 
                
            }
        &_3{   
            @include container_menu;      
            animation: fadeinmenu 1s 2s forwards; 
            }
        &_4 {
            @include container_menu;   
            animation: fadeinmenu 1s 3s forwards; 
        }
        }



.plat {

    &_nom {     
      font-weight:bold;     
      font-size:1em;
        white-space:nowrap;
    }

    &_commentaire {
        margin-top:0.3em; 
        font-size:0.9em;
        white-space: nowrap;   
        overflow:hidden;
        text-overflow:ellipsis; 
       
    }
    
    &_tarif {     
      
      position:sticky;
      font-weight: bold;     
      margin-top:2em;
      transform: translateX(120%);
      transition: transform 600ms ease-in;
     
    }
    &_box_achat {
    
    width:4em;
    height:4em;
    background-color:$color-tertiary ;
    color:$color-tertiary;    
    display:flex;
    align-items:center;
    justify-content: center;   
    border-radius:0 1.25em 1.25em 0;   
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 800ms ease-out;
    
    i {
        font-size:2em;  
       color:white;
       transition: all 800ms ease-out ;
      
    }
}
      
}

.part_nom_commentaire {
    display: flex;
    flex-direction: column;
    width:75%;
    padding-left:0.5em;    
    transition: width 600ms ease-out;
    
}

.part_tarif_box_achat {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.5em;
    box-sizing: content-box;    
    width:25%;
    position:absolute;
    overflow:hidden;
    border-radius:0 1.25em 1.25em 0;
    right:4%;
     
    
}


div.commande {
    display:flex;
    justify-content: center;
    margin-bottom:5em;
    background:$color-container-primary;
    margin-top:5em;
}

   


