.part2 {
    @include main_container;   
   
    
    @include desktop {
        border-radius:$size_radius ;}
      
}



.localisation {
    background-color: $color-container-secondary;
    display:flex;
    box-sizing:border-box;
    width:100%;
    justify-content: center;
    gap:1em;
    height:3em;
    align-items: center;
    box-shadow: inset 0 20px 10px -20px rgba(0,0,0,0.8);
        @include desktop {
    border-radius:$size_radius $size_radius 0 0;}
   
}


.accueil_decouverte {
    margin-top:1.5em;
    
    display:flex;
    flex-direction: column;
    align-items:center;   
      
}
.fonctionnement {
    margin-top:2em;
    display:flex;
    justify-content: center;        
    flex-direction: column;
      
    
    h3 {
       
        width:90%;
        align-self:center;        
        font-size:1.4em;
        @include desktop {
            display: flex;
            justify-content: center;
            align-self:center;
            box-sizing: border-box;
            width:70%;
            height:1.5em;
            border-radius: 0.5em;
            color:white;
            margin-bottom:1.5em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    @include color-secondary-gradiant;
        }
       
    }
}

.container_fonctionnement {  
    display:flex;
    align-items:center;
    flex-direction: column;
    width:100%;
    
}

span.position {
    border-radius:100%;
    background-color:$color-primary;
    height:2em;
    width:2em;
    display:flex;
    align-items:center;
   justify-content: center;
    margin-left:-0.9em;  
}

/***page d'accueil liste des restaurant***/

.container_restaurant {
    @include desktop {
    border-radius:$size_radius $size_radius 0 0;}
    perspective:1000px;
    box-sizing:border-box;
    width:100%;
    height:500px;
    display: flex;
    flex-direction: column;
   align-items: center;    
   margin-top:3em;    
   padding-bottom:4em;
   @include desktop {
       margin-bottom:5em;
   }
  
    @include mobile {        
        height:100%;
        perspective:0px;
        background: $color-container-primary;
    }
   @include tablette {        
        height:100%;
        perspective:0px;
        background: $color-container-primary;
    }
   
    
    
}

.restaurant_wrapper {
    transform-style: preserve-3d;
    box-sizing: border-box;     
    width:95%;
    @include desktop {
    height:1000px;
    width:65%;
    margin-top:4em;}  
    
    animation:swirl 7s  infinite ease-in  ;    
    transform-origin: center 6em ;        
    display: flex;
    justify-content: space-around;
    flex-direction:column;    
    align-items: center; 
   
    &:hover {
        animation-play-state: paused;
    }          

    @include mobile {
        animation:none;
        gap:2em;  
        height:100%;      
    }
    @include tablette {
        animation:none;
        gap:2em;  
        height:100%;  
        
    }
}

.box_resto {
    &_1 {
        @include box_resto;
        transform: rotateX(0deg) translateZ(7.5em) ;
      
    }
    &_2 {
        @include box_resto;
        transform: rotateX(90deg) translateZ(7.5em);
        
    }
        
    &_3 {
        @include box_resto;
        transform: rotateX(180deg) translateZ(7.5em);        
       
    }
    &_4 {
        @include box_resto;
        transform: rotateX(270deg) translateZ(7.5em);
        
    }
}



.box_resto {
        

    &_nom_lieu_heart {
        display:flex;
        justify-content: space-between;
        height:4em;
    }
    &_nom_lieu {
        display: flex;
        flex-direction: column;
        padding-left:0.5em;
        margin-top: 0.5em;
        gap:0.2em;
    }

    &_nom {
        font-weight: bold;        
    }
    &_heart {
        padding-right:1em;
        align-self:center;
        font-size:1.5em;
       color:$color_icone;    
    
    }
}
        img {
             box-sizing:border-box;
             width:100%;
             height:11em;
             object-fit: cover;
            overflow: hidden;
            border-radius:$size_radius $size_radius 0 0;
           
             
     }
.cadre_new {
    position:absolute;    
    transform:translateX(-130%) translateY(80%);
    background:$color-tertiary;
    border-radius:0.25em;
    width:6em;
    height:1.7em;
    text-align:center;
    padding-top:0.3em;
    color:$color-tertiary-dark;
    font-size:0.9em;
    z-index:100;
}

/*page des restaurants menus*/

.menu {
   
    box-sizing:border-box;       
    padding-bottom:2em;       
    margin-top:-5em;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:2;    
    border-radius:$size_radius $size_radius 0 0;   
    background:$color-container-primary;
    
    @include desktop {
      
    width:70%;  
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-97em;    
    font-size:1em;
    opacity:0.95;
    transform:translateX(22%);
    animation:menu 2s ;
        
    }
    @include tablette {
        width:80%;
        display:flex;
        flex-direction: column;
        align-items: center;
        transform:translateX(12%);
    }
        
}


.entrée {
    
    &_1 {   
    @include container_menu;      
    animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
    }
    &_2{   
        @include container_menu;     
        animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
            
        }
    &_3{   
        @include container_menu;      
        animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+100ms forwards;
        }
    &_4 {
        @include container_menu;   
        animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay forwards;
    }
    }


.plat {
    &_1 {   
        @include container_menu;      
        animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
        }
        &_2{   
            @include container_menu;     
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
                
            }
        &_3{   
            @include container_menu;      
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+100ms forwards;
            }
        &_4 {
            @include container_menu;   
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay forwards;
        }
        }
    
    
.dessert {
    &_1 {   
        @include container_menu;      
        animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
        }
        &_2{   
            @include container_menu;     
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+200ms forwards;
                
            }
        &_3{   
            @include container_menu;      
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay+100ms forwards;
            }
        &_4 {
            @include container_menu;   
            animation: fadeinmenu $animation_fadein_duration $animation_fadein_delay forwards;
        }
        }
    



.plat {

    &_nom {     
      font-weight:bold;     
      font-size:1em;
        white-space:nowrap;
    }

    &_commentaire {
        margin-top:0.3em; 
        font-size:0.9em;
        white-space: nowrap;   
        overflow:hidden;
        text-overflow:ellipsis; 
       
    }
    
    &_tarif {     
      
      position:sticky;
      font-weight: bold;     
      margin-top:2em;
      transform:translateX(120%);
      
     
    }
    &_box_achat {
    
    width:0em;
    height:4em;
    background-color:$color-tertiary ;
    color:$color-tertiary;    
    display:flex;
    align-items:center;
    justify-content: center;   
    border-radius:0 1.25em 1.25em 0;   
   
    
   
    
    i {
        font-size:2em;  
       color:white;      
      opacity:0;
    }
}
      
}
 

.part_nom_commentaire {
    display: flex;
    flex-direction: column;
    width:75%;
    padding-left:0.5em;    
    
    
}


.part_tarif_box_achat {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.5em;
    box-sizing: content-box;    
    width:25%;
    position:absolute;
    overflow:hidden;
    border-radius:0 1.25em 1.25em 0;
    right:2%;
    @include desktop {
        right:2%;
    }
    @include tablette {
        right:2%;
    }
     
    
}


div.commande {
    
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    width:100%;
    margin-bottom:5em;
    background:$color-container-primary;
    margin-top:5em;
}

   


