footer {
    margin-top:5em;
    padding-top:1em;
    padding-bottom:1em;
    background-color:black;
    line-height:0em;
    h4 {
        font-family: "Shrikhand";
        font-weight:lighter;
        color:white;
        margin-left: 2.5em;;
    }
    
    
       li {
            display:flex;
            gap:1em;
            color:white;
            
           
    }
}



