footer {
      
    padding-top:1em;
    padding-bottom:2em;    
    background-color:$color_footer;
    line-height:1.7em;
    @include desktop {
        
       z-index: 2;
       position:relative;
       display:flex;
       flex-direction: column;
       padding-left:10em;
      align-items: flex-start;

     
        
    }
    p {
        font-family: "Shrikhand";
        font-weight:lighter;
        color:white;
        margin-left: 1.5em;
        font-size:1.5em;
    }
    
    ul {        

        li {
            display:flex;
            gap:1em;
            color:white;
                  
            
            
            i { font-size:1em;
                width:5%;

            }

            a {
                color:white;
                &:visited {
                    color:white;
                }
            }
           }       
                      
        }
        }



