footer {
    
   
    padding-top:1em;
    padding-bottom:2em;
    
    background-color:black;
    line-height:1.7em;
    p {
        font-family: "Shrikhand";
        font-weight:lighter;
        color:white;
        margin-left: 1.5em;
        font-size:1.5em;
    }
    
    ul {

        li {
            display:flex;
            gap:1em;
            color:white;
            justify-content: flex-start;
            
            i { font-size:1em;
                width:5%;

            }

            a {
                color:white;
                &:visited {
                    color:white;
                }
            }
           }       
                      
        }
        }



