.btn-exploration {
    
    @include btn;    
    margin-bottom:1.5em;
    margin-top: 1.5em;  

}



.btn-cmd {
    
    @include btn;    
    
}

.btn_fonction {

    &_choix {
        @include container_fonctionnement;
       
        animation: fadeinfonction 1s;
            }

    &_composition {
        @include container_fonctionnement;
        animation: fadeinfonction 1s;            
            
    }

    &_degustation {
        @include container_fonctionnement;
        animation: fadeinfonction 1s;
        
    }
       
    
}

.far fa-heart {
    @include color-secondary-gradiant;
}

