
body {     
    margin:0;
    margin-left: auto;
    margin-right:auto;  
    
    
    
}
div.partie_principal {
   padding-left:25px;
  padding-right: 25px;
  
  @include mobile {
    padding:0;
  }

}
h2 {
  @include mobile {
    width:75%;
  }
}

header div p {
    width:85%;
   
}

div bouton p {
  width:100%;
}

a {
  text-decoration: none; 
 
  &:visited {
    color:black;

  }
}

ul {
  list-style: none; 
}

.position {
  color:white;
}

h5 {
  display:flex;
  justify-content: space-between;
  margin-right:2em;
  font-family: "shrikhand";
  
  font-size:1.6em;
}
h6 {
  font-size:1.2em;
  font-weight:lighter;
  text-transform: uppercase;
  margin-bottom: 1.5em;  
 
 
}

.trait_couleur {
  border-top:solid;
  width:3em;
  margin-top:-1em;
  margin-bottom:1.5em;
  color:$color-tertiary;
}

