
body {     
    margin:0;         
    margin-left: auto;
    margin-right:auto;      
    
    @include color_bg;
    @include mobile {animation:none; background: white;}
    
}
div.partie_principal {
  
  
 padding-left:10em;
  padding-right: 10em;
  @include desktop {
    font-size:1.2em;
  }
  
  
  @include mobile {
    padding:0px;
    background-color: white;
    
  }

}
h2 {
  @include mobile {
    width:75%;
  }
}

header div p {
    width:85%;
   
}

div bouton p {
 
  width:100%;
}

a {
  text-decoration: none;   
  color:black;
 
  &:visited {
    color:black;

  }
}

ul {
  list-style: none; 
}

.position {
  color:white;
}

h5 {
  display:flex;
  box-sizing: border-box;
  width:90%;
  justify-content: space-between;
  margin-right:1em;
  font-family: "shrikhand";  
  padding-top:1em;
  font-size:1.6em;
  @include desktop {
    padding-top:0;
  }
  i {
    margin-top:0.2em;
  }
  
}
h6 {
  font-size:1.2em;
  font-weight:lighter;
  text-transform: uppercase;
  margin-bottom: 1.5em;  
 
}

.trait_couleur {
  border-top:solid;
  width:3em;
  margin-top:-1em;
  margin-bottom:1.5em;
  color:$color-tertiary;
}

div.titre_resto {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width:90%;
  height:100%;
  
}



h4 {
  font-size:1.5em;
  @include desktop {
  text-align:center;  
  box-sizing: border-box;
  width:100%;
  height:1.5em;
  border-radius:2em;
  color:white;
  box-shadow: 0em 0em 1em 0.5em;
  @include color-secondary-gradiant;
  }
  
   
}