@for $i from 1 through 8 {

    #checked_#{$i} {   
        @include color-secondary-gradiant;
        
        background-clip:text;
        -webkit-text-fill-color: transparent;   
        display:none;
    }
    #unchecked_#{$i} {
        &:active {
            display:none;
        }
        &:active + #checked_#{$i}{
            display: block;
             
        }
        
    }}