@for $i from 1 through 8 {

    #checked_#{$i} {   
        @include color-secondary-gradiant;
        
        background-clip:text;
        -webkit-text-fill-color: transparent;   
        opacity:0;
        z-index:0;
        transform-origin: center;
    }
    #unchecked_#{$i}    {
        z-index:1;
       position:absolute;
       
       @include mobile {
        &:hover {
            animation:fill_heart_2 10ms forwards ;
        }
        &:hover + #checked_#{$i}{
           animation:fill_heart_1 500ms forwards;
                        
        }}

        @include desktop {
            &:hover {
                animation:fill_heart_2  300ms forwards;}
            &:hover + #checked_#{$i}{
                animation:fill_heart_1 300ms forwards;
                             
             }
        }
        @include tablette {
            &:hover {
                animation:fill_heart_2  10ms forwards;}
            &:hover + #checked_#{$i}{
                animation:fill_heart_1 300ms forwards;
                             
             }
        }
        
    }}

    