/*permet de bloquer la page sur le loader, en changeant les param$etre de 
 body #index*/
 #index {  
  overflow:hidden;
  animation:body 0.01s 3.5s forwards;
}
  
.loader {  
    position:absolute;
    z-index:3;
    box-sizing:border-box;
    width:100%;
    height:100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7) 120%);
    display:flex;
    justify-content:center;    
    align-items: center; 
    perspective:1000px;     
     animation:zindex 0.3s 2.5s forwards;  /*animation faisant disparaître le cube*/
    .box_0_0 {             
      position:absolute;         
      font-size:2em;        
      transform-style: preserve-3d;           
      margin-top:-2em;
      margin-left:-2em;
      text-align:center;        
      animation:turn 2.5s  1 alternate;
      font-size:2em;     
      opacity:1;   
      transform-origin:2em 2em;  /*axe de rotation important*/     
      @include mobile {
        font-size:1em;
      }
        i {          
          color:#99E2D0;          
          font-size:1.4em; 
        }
      }      
    }
/*façonnage du cube*/
.face { 
  width:4em;
  height:4em;
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;   /*important */
  background: rgb(255,255,255);
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
}

  /*chaque face a sa place*/
  .face_avant {
    transform:translateZ(2em);
  }
  .face_dessous {
    transform:rotateX(-90deg) translateZ(2em) ; 
  } 
  .face_dessus {
    transform:rotateX(90deg) translateZ(2em);  
  }
  .face_gauche {
    transform:  rotateY(90deg) translateZ(2em);  
  }
  .face_droite {
    transform:rotateY(-90deg) translateZ(2em);   
  }
  .face_derriere {
    transform:translateZ(-2em);
  }


