#index {
  
  overflow:hidden;
  animation:size_change 0.5s 5.5s forwards;
}
  
  div.partie_principal_index { 
  

  @include desktop {
   margin-top:-80em;}     
    position:relative;
    z-index: -1;
    animation:display 0.5s 5.5s forwards;
    
  }
  #footer_index {   
    
    z-index: 2;
    animation:display 0.5s 5.5s forwards;
    
  }
  .loader {
    @include mobile {
      display:none;
    }
    @include tablette {
      display:none;
    }
  }

  .loader_mobile {
    
    
    position:absolute;
    display:flex;
    justify-content: center;
    z-index:3;
    font-family: "Shrikhand";
    box-sizing: border-box;    
    width:100%;
    height:100%;
    perspective:600px;
    transform-style: preserve-3d; 
    animation:scale 0.5s 5s forwards;
   
    @include color-secondary-gradiant;    
   
    @include tablette {
      height:65em;
    }


    @include desktop {
      display:none;
    }
  }

  @for $i from 0 through 7 {

    .loader_logo_#{$i} {
     
     font-size:3em;
     margin-top:3em;
      text-align:center;       
     transform:translateZ(60px) translateY(10%);   
      animation:wave_mobile 950ms 4 100ms+$i*100ms  ease-in-out alternate-reverse  ;   
      opacity:0;
      @include color_secondary-gradiant;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent; 
      @include tablette{
        font-size:5em;
        margin-top:2em;
        
      }
         
  }}
  
 .loader_heart_2 {    
 
    display:flex;
   justify-content: center;
     position:absolute;
    right:3.5em;
    margin-top:7em;
    font-size:3em;
     z-index:100;    
     opacity:0;
     @include color_secondary-gradiant;
     -webkit-background-clip:text;
          -webkit-text-fill-color: transparent; 
     animation:wave_mobile_heart 1s 1 4000ms  ease-in-out  reverse ; 
     @include desktop {
       display:none;
     }
     @include tablette {
       font-size:5em;
       right:4em;
       margin-top:5em;

       
     }
      
     
  }
       

  .loader {
    @include desktop {         
    perspective:600px;
    transform-style: preserve-3d; 
    display:flex;
    justify-content: center;  
    align-items: center;      
    position:relative;       
    z-index:3;   
    box-sizing: border-box;    
    height:100em;    
    
    }      
    &_1 {
      @include desktop{
    box-sizing:border-box;
    width:100%;
    height:100%;
    background: rgb(255,255,255);
    background: linear-gradient(#ff79da 0%, #9356dc 100%);
animation:door 2s 4.5s  ease-in-out forwards;
transform-origin:left;}
    
    }
    &_2 { @include desktop{
      
    box-sizing:border-box;
    width:100%;
    height:100%;
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(#ff79da 0%, #9356dc 100%);
animation:door 2s 4.5s ease-in-out forwards;
transform-origin:right;}
    
    }
    
     .particles_box_2 { @include desktop{
       box-sizing:border-box;
       display:flex;   
       justify-content: center;                
       font-size:7em;
       z-index:1;       
       transform-style: preserve-3d;             
       position: absolute;  
       top:5em;    
       z-index:4;           
       width:auto;  } 
     
     }

     
     /*partie loader LETTRES */
     @for $i from 1 through 12 {     
      @include desktop{
      .particles_box_2_#{$i} {       
       width:1.11em ;
       text-align:center;       
      transform:translateZ(60px) translateY(-150%);       
        @include color_secondary-gradiant;
        -webkit-background-clip:text;
       -webkit-text-fill-color: transparent; 
       animation:wave 1s 4 100ms+$i*100ms  ease-in-out alternate-reverse   ;   
       opacity:0; }
        
      }}             

  }

@keyframes wave {
  0% {transform:translateZ(80px) translateX(0)translateY(-150%) ;opacity:1;}  
  100% {transform:translateZ(-80px) translateX(150%)translateY(-250%);text-shadow: 0px 11px 10px rgba(81,67,21,0.8);opacity:0;}
  }

@keyframes wave_mobile {
  0% {text-shadow:none;opacity:1;}  
  100% {text-shadow: 0px 11px 10px rgba(81,67,21,0.8); opacity:0;}
  
}
@keyframes wave_mobile_heart {
  0% {text-shadow:none;opacity:1;  transform: scale(1);}  
  100% {text-shadow: 0px 11px 10px rgba(81,67,21,0.8);  transform : scale(4); opacity:0;}
  
}

@keyframes door {
 0% {transform:scaleX(1);}
  100% {transform:scaleX(0);}
 
}
@keyframes door_right {
  0% {transform:scaleX(1);}
   100% {transform:scaleX(0);}
  
 }


@keyframes display {
  from {z-index:-1; }
  to {z-index:4; }
}

@keyframes size_change {
  from {overflow:hidden;
    }
    to {overflow:visible;
    }
}
@keyframes scale {

  from{transform:scale(1) rotateY(0);}
  to {transform:scale(0) rotateY(360deg);}
}


  
  @keyframes body {
    0% {opacity:0;}
    20%{opacity:0;}
    40%{opacity:0;}
    60%{opacity:0;}
    100%{opacity:1;}
}


  