$color-primary: #9356DC;
$color-primary-light: #bfa7dd;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-container-primary:#f2f2f2;
$color-container-secondary:rgb(199, 191, 191);





$font-family: (
   title:'Shrikhand',
   text: 'Roboto', 
);